<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <label class="form-label" for="inputUsername">Nombre de usuario</label>
    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required
           autofocus>
    <label class="form-label" for="inputPassword">Contraseña</label>
    <input type="password" name="password" id="inputPassword" class="form-control" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="recuerdame" name="_remember_me">
        <label class="form-check-label" for="recuerdame">Recuérdame</label>
    </div>

    <button class="btn btn-primary my-2" type="submit">
        Enviar
    </button>
</form>
