{% extends "base.html.twig" %}

{% block title %} About {% endblock title %}

{% block body %}
    <h1 class="mt-3">Acerca de nosotros</h1>
    <p>Esto es un párrafo de ejemplo que trata sobre la página de nosotros y tal y cual</p>
{% endblock body %}