{% extends 'base.html.twig' %}

{% block title %}Añadir producto{% endblock %}

{% block body %}

    <div class="my-4">
        <h3>Añadir producto</h3>

        {# {{ form(formulario) }} #}
        {{ form_start(formulario) }}
        {{ form_end(formulario) }}
    </div>
{% endblock %}