{% extends 'base.html.twig' %}

{% block title %}Inicio{% endblock %}

{% block body %}
    <h1>Página de inicio</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu dolor eleifend, ullamcorper lorem non, luctus
        magna. Ut tristique eget massa et congue. Duis rhoncus pellentesque quam sed lobortis. Phasellus lacus dolor,
        dapibus quis metus ac, sollicitudin pharetra augue. Duis suscipit justo eu pellentesque consequat. Donec tempor
        erat egestas, tincidunt ex sed, scelerisque ex. Praesent non velit nisi. Nunc gravida risus id ullamcorper
        consectetur. Fusce mattis, diam ac vulputate elementum, elit orci fermentum nunc, et viverra justo purus a
        velit. Aenean ut venenatis eros.
    </p>
    <p>
        Sed in aliquet lectus. Mauris tempor eros eu sem hendrerit tristique. Proin metus felis, porttitor id ex
        efficitur, imperdiet volutpat quam. In viverra feugiat auctor. Suspendisse aliquet ligula placerat porta
        venenatis. Morbi a enim viverra sem euismod vestibulum. Donec ligula massa, tristique ac orci at, molestie
        ultrices lacus. Aenean ac pulvinar massa. Donec rhoncus elit vitae gravida dignissim. Donec eget turpis ut
        tortor faucibus facilisis sit amet quis elit. Aliquam in purus malesuada ligula euismod consequat.
    </p>
{% endblock %}
